.blogLayout {
  min-width: 996px;
  max-width: var(--ifm-container-width-xxl);
  padding: 0 1rem;
  margin: 0 auto;
}

@media screen and (max-width: 996px) {
  .blogLayout {
    min-width: 0px;
    max-width: 996px;
    margin: 0;
  }
}

.blogToc {
  padding-left: 3rem;
}
