.title {
  font-size: 2rem;
  text-align: center;
}

/**
  Blog post title should be smaller on smaller devices
**/
@media (max-width: 576px) {
  .title {
    font-size: 1.8rem;
    text-align: center;
  }
}
